{% extends 'FrontBundle::front_layout.html.twig' %}
{% block title %}Produits disponibles{% endblock %}
{% block body %}
    {{ parent() }}
    <h1>Produits disponibles</h1>
    <div id="message-bloc" style="display: none"></div>
    <table id="list-produit">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th></th>
            </tr>
        </thead>
    </table>
{% endblock %}