{% extends 'FrontBundle::front_layout.html.twig' %}

{% block title %}Votre panier{% endblock %}
{% block body %}
    <h1>Votre panier</h1>
    {{ form_start(form) }}
    <table id="panier-list">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Prix Unitaire</th>
            <th>Quantité</th>
            <th>Total</th>
            <th style="width: 5%"></th>
            <th style="width: 5%"></th>
        </tr>
        </thead>
    </table>

    <div class="well" id="totalBloc" style="display: none">
        <label>Total</label> : <span id="total"></span>
    </div>
    <button type="submit" class="btn btn-success btn-sm" id="confirmCommand"><i class="fa fa-save"></i> Confirmer la commande</button>
    {{ form_end(form) }}
{% endblock %}