{% extends 'FrontBundle::front_layout.html.twig' %}

{% block body %}
    <h1>Votre panier</h1>
    <table id="panier-list">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th></th>
        </tr>
        </thead>
    </table>
{% endblock %}