{% extends '::base.html.twig' %}
{% block title %}Liste produit{% endblock %}
{% block body %}
    <h1>Liste des produits</h1>
    <table id="list-produit">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Stock</th>
                <th></th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('#list-produit').DataTable({
                "processing": true,
                "serverSide": false,
                "searching": true,
                "paging": true,
                "info": false,
                "ajax": {
                    "url": Routing.generate('_challenge_get_produits'),
                    "type": "POST"
                },
                order: [],
                "pageLength": 10,
                "bLengthChange": false,
                "autoWidth": false,
                "columns": [
                    {"data": "titre"},
                    {"data": "description"},
                    {"data": "prix"},
                    {"data": "stock"},
                    {
                        "targets": 0,
                        "searchable": false,
                        "orderable": false,
                        "render": function(data, type, row){
                            return '<a href="#" class="updateProduit" data-id="'+row.id+'">Modifier</a>';
                        }}
                ]
            });
        });

        $(document).on('click', '.updateProduit', function(){
            location.href = Routing.generate('_challenge_produit_update', {'id': $(this).data('id')});
        });
    </script>
{% endblock %}