{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="btn btn-success pull-right" id="voirDetailPanier">Voir panier</div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/front/js/front.js') }}"></script>
{% endblock %}